img{
    background-position: center;
    width: 100%;
    height:80%;
}

.login{
    margin-top: 100px;
    margin-left:50px ;
    margin-right: 50px;
    
}
.pad{
    padding: 15px 20px;
}
.border{
    border-right: greenyellow;
    border-top: greenyellow;
}